<!--The content below is only a placeholder and can be replaced.-->
    <div class ="container container-default">
    <!-- 
    <app-home></app-home>
    <app-student-form></app-student-form>
    <app-student-data></app-student-data>
       </div>
    -->
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Student Registration</a>
              </div>
              <ul class="nav navbar-nav">
                    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                    <li><a routerLink ="student-form"  routerLinkActive="active">Student Form</a></li>
                    <li><a routerLink ="student-data"  routerLinkActive="active">Student Data </a></li>
              </ul>
            </div>
          </nav>
<router-outlet></router-outlet>
